.maintitle{
    font-family: Arial,;
    text-align: center;
    font-weight: bold;
    color: rgb(162, 115, 238);

}
nav {
    display: flex;
    gap: 20px;
    background-color: black;
    padding: 10px 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 14;
}
nav a:hover{
    background-color: rgb(253, 88, 88);
    padding: 1px 2px;
}
.subtitle{
    color: rgb(162, 115, 238);
    font-family: arial;
    font-weight: bold;
    font-size: 14;
}
video {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    border: 2px solid white;
}