.container{
    max-width:25vw ;
    max-height:15vh ;
    height: 15vh;
    width: 30vw;
    background-color: rgb(255, 255, 255);
    border: 1px whitesmoke;
    box-shadow: 2px 2px 10px rgb(215, 215, 215);
    border-radius: 8px;
    padding: 15px;
}
.small-container{
    height: 4vh;
    width: 2.3vw;
    max-width: 2.3vw;
    max-height: 4vh;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.sub-text{
    color: rgb(132, 131, 131);
    font-size :12px;
}
.card-button{
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0px;
    color: white;
    border: none;
}