body{
  background-image:url("https://images.pexels.com/photos/631342/pexels-photo-631342.jpeg") ;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
